<h1>Some Goddamn Recipes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Tags</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @recipes.each do |recipe| %>
      <tr id="recipe-information-<%= recipe.id %>">
        <td style="width:40%"><%= link_to recipe.name, recipe_path(:id => recipe.id), class: "a" %></td>
        <td><%= recipe.categories.map(&:name).join(', ') %></td>
        <td style="width:35px"><%= link_to 'Edit', edit_recipe_path(recipe), class: "a" %></td>
        <td style="width:35px"><%= link_to 'Delete', recipe, method: :delete, data: { confirm: 'Delete recipe?' }, class: "a" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Recipe', new_recipe_path, class: "btn btn-default recipe-button" %>
